@import url("https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Koulen&display=swap");

:root {
	--text-regular: white;
	--text-black: black;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100dvw;
	height: 100dvh;
	max-height: 1150px;
	font-family: "Beiruti", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.container {
	width: 96%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(5, auto);
	gap: 9px;
}

.site-header {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.5rem;

	position: relative;
}

.site-header img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
}

.site-header h1 {
	position: absolute;
	align-self: center;
	font-size: 3.5rem;
	color: var(--text-regular);
	text-align: center;
}

.card-recipe {
	width: 100%;
	height: 150px;
	position: relative;
}

.card-recipe a {
	width: 100%;
	height: 100%;
	border: 2px solid transparent;
	border-radius: 12px;
}

.card-recipe img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(0.5);

	border-radius: 12px;
	transition: all 0.3s ease;
}

.card-recipe:hover img {
	filter: brightness(0.8);
}

.card-recipe h2 {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	color: var(--text-regular);
	font-size: clamp(2rem, 5vw, 3rem);
}

.card-p {
	width: 100%;
	height: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-p img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0px 0.091rem;
	border-radius: 12px;
	filter: brightness(0.4);
}

.card-p p {
	position: absolute;
	padding: 0.6rem;

	color: var(--text-regular);
	font-size: clamp(2.5rem, 0.3rem + 5vw, 3rem);
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.footer {
	margin: 1rem auto;
	text-align: center;
	padding: 5px;
	font-size: clamp(1rem, 0.2rem + 3vw, 1.2rem);
}

.footer a {
	color: var(--text-black);
	text-decoration: none;
	font-weight: 600;
}

/* ========================== MEDIA QUERIES CONFIG ========================== */
@media (min-width: 500px) {
	body {
		max-height: 1085px;
	}
	.container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
		margin: 1rem auto;
	}

	.site-header,
	.card-p {
		grid-column: span 3 / span 3;
		height: 300px;
	}

	.card-one,
	.card-two,
	.card-three {
		grid-row-start: 2;
		height: 370px;
	}

	.footer {
		margin: 0.5rem auto;
	}
}

@media (min-width: 1000px) {
	body {
		max-height: 1040px;
	}
	.container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
		place-items: center;
		gap: 9px;
	}

	.site-header {
		grid-column: span 2 / span 2;
	}
	.site-header h1 {
		font-size: clamp(5.5rem, 0.5rem + 5vw, 7rem);
	}

	.card-one,
	.site-header {
		height: 430px;
	}

	.card-two,
	.card-three {
		height: 250px;
	}

	.card-one {
		grid-column-start: 3;
		grid-row-start: 1;
	}

	.card-two {
		grid-row-start: 2;
	}

	.card-three {
		grid-column-start: 1;
		grid-row-start: 3;
	}

	.card-p {
		grid-column: span 2 / span 2;
		grid-row: span 2 / span 2;
		grid-column-start: 2;
		grid-row-start: 2;
		height: 520px;
	}

	.card-p p {
		font-size: clamp(3rem, 0.5rem + 5vw, 4rem);
	}

	.card-one h2,
	.card-two h2,
	.card-three h2 {
		font-size: clamp(2rem, 0.5rem + 5vw, 3rem);
	}

	.card-one img,
	.card-two img,
	.card-three img,
	.card-p img,
	.site-header img {
		border-radius: 30px;
	}
}
